@tailwind base;
@tailwind components;
@tailwind utilities;

.btn:hover .btn-slide-show-text1 {
  @apply ml-[65px];
}
.btn-layered-3d > ::before {
  @apply box-border;
}
.btn-layered-3d {
  @apply w-fit relative inline-block cursor-pointer align-middle no-underline text-[inherit] font-semibold  px-[2.5em] py-[1.1em] rounded-[0.75em] border-0 before:absolute before:content-[""] before:w-full before:h-full before:rounded-[inherit] before:inset-0 hover:translate-y-[0.25em];
  outline: none;
  font-family: inherit;
  transform-style: preserve-3d;
  transition: transform 0.15s ease-out 0s, background 0.15s ease-out 0s;
}
.btn-layered-3d::before {
  transform: translate3d(0px, 0.75em, -1em);
  transition: transform 0.15s ease-out 0s, box-shadow 0.15s ease-out 0s;
}
.btn-layered-3d:hover::before {
  transform: translate3d(0px, 0.5em, -1em);
}
.btn-layered-3d--blue {
  @apply text-white  before:shadow-green-900;
  background: rgb(20 83 45/.9);
}
.btn-layered-3d--blue::before {
  background: rgb(20 83 45/.5);
}
